.social-links {
    background-color: aquamarine;
    height: 100px;

}

.pet {
    justify-content: space-between;
}


nav {display: flex;
    flex-direction: row;
    justify-content: right;
    font-weight: bold;

}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
